
    <div class="box">
       <div>
        <h2>User Registration</h2>
        <form [formGroup]="form" (submit)="onSubmit()">
           
            <input type="text" id="username" placeholder="Enter Username" formControlName="username"  required>

            
            <input type="email" id="email" placeholder="Enter Email"  formControlName="email" required>

           
            <input type="password" id="password" placeholder="Enter Password" formControlName="password"  required>

            <button type="submit">Register</button>
        </form>
       </div>
    </div>

